body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li
{
  /* Creates small boxes with lightblue background */ 
  list-style-type: none;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  /* Creates a border around the boxes */
  border: 1px solid black;
}
